<html>
<body>

<table>
  <tr><th>var</th><th>val</th></tr>
  <tr><td>fqdn</td><td><%= @fqdn %></td></tr>
  <tr><td>osfamily</td><td><%= @osfamily %></td></tr>
  <tr><td>uptime</td><td><%= @uptime %></td></tr>
</table>

</body>
</html>
